 /* PRIMARY COLORS (STYLE GUIDE) */

$blue_10: #016487;
$grey: #E4EBF0;
$grey_10: #FAFAFA;
$grey_blue: #738796;
$light_blue: #71c3e0;
$green: #73AB7D;
$orange: #FFBA49;
$red: #EF5B5B;
$new_blue: #20A39E;
$dark_blue: #014963;

/* DEFAULT MATERIAL COLORS (STYLE GUIDE) */

$black: #000000;
$white: #FFFFFF;
$white_54: rgba(255, 255, 255, 0.54);
$black_87: rgba(0, 0, 0, 0.87);
$black_54: rgba(0, 0, 0, 0.54);
$black_12: rgba(0, 0, 0, 0.12);
$grey_700: rgba(97, 97, 97, 0.90);
$grey_200: #EEEEEE;
$grey_100: #F5F5F5;