/* ################################ *
 * ############# FONTS ############ *
 * ################################ */
 
$font-family-roboto:"Roboto" !default;

/* ################################ *
 * ############ WEIGHT ############ *
 * ################################ */

$font_regular: 400;
$font_medium: 500;
$font_bold: 700;

/* ################################ *
 * ############# SIZES ############ *
 * ################################ */

$font-size-xxs: 12px;
$font-size-xs: 13px;
$font-size-s: 14px;
$font-size-m: 15px;
$font-size-l: 16px;
$font-size-xl: 18px;
$font-size-xxl: 20px;
$font-size-xxxl: 24px;
$font-size-xxxxl: 32px;

/* ################################ *
 * ########## FAMILIES ############ *
 * ################################ */

$font-roboto-light: 300;
$font-roboto-regular: 400;
$font-roboto-medium: 500;
$font-roboto-bold: 700;
//$font-roboto-black ;
