/*********************************
 *********** Side menu ***********
 *********************************/

ion-menu[id="mainMenu"] {
    .no-padding {
        padding: 0px;
    }
    .item {
        font-weight: $font-roboto-medium;
        font-size: $font-size-s;
    }
    #image-box {
        display: flex;
        flex-direction: column-reverse;
        min-height: 150px;
        background: $white;
    }

    // add line on the bottom of the header on ios platform
    .header-ios #ios-line {
        height: 1px;
        ::after {
            left: 0;
            background-position: left 0 top -2px;
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: $grey;
            background-repeat: repeat-x;
            content: "";
        }
    }
    #sidebar-name-field {
        h3 {
            color: $blue_10;
            font-weight: $font-roboto-medium;
            margin: 0;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            font-size: $font-size-s;
        }
        p {
            color: $blue_10;
            font-weight: $font-roboto-regular;
            margin: 0;
        }
    }
    .icon-brand {
        text-align: center;
        color: $blue_10;
    }

    .icon-change-menu {
        margin-right: 30px;
        color: $blue_10;
    }

    .item-list-menu {
        color:$blue_10;
        p {
            color: $blue_10;
            font-size: $font-size-s;
            font-weight: $font-roboto-medium;
        }
    }
}

@include tablet {
    ion-menu[id="mainMenu"] {
        ion-header ion-toolbar {
        padding: 0;
        }
    }
}
