room-block {
  ion-item {
    h3 {
      color: $dark_blue;
      font-weight: 500!important;
    }
    ion-icon {
      color: $blue_10;
      padding-left: 11px;
    }
    .item-inner {
      margin-left: 7px!important;
    }
    p.detail {
      color: $grey_blue;
      font-style: italic;
    }
  }
  ion-item-options {
    .delete {
      background-color: $red;
      color: $white;
    }
    .more {
      background-color: $grey;
      color: $blue_10;
    }
    .rename {
      background-color: $blue_10;
      color: $white;
    }
    .things {
      background-color: #20A39E;
      color: $white;
    }
  }
}