page-menu {

  .menu-option {
    background-color: $grey_blue;
    padding: 25px 15px 15px 15px;
    margin: 20px;
    height: 140px;
    text-align: center;
    border-radius: 3px;
    .option-title {
      top: 60%;
      font-size: 1.2em;
      width: 100%;
      font-weight: bold;
      color: #fff;
    }
  
    .option-subtitle {
      font-size: 0.8em;
      top: 75%;
      width: 100%;
      color: #fff;
    }
    .option-icon {
      color: $black_54;
      top: 15%;
      width: 100%;
      font-weight: bold;
      ion-icon::before {
        font-size: 50px;
      }
    }
  }
}